framework/freud-hka/schema/odd_frd-hka.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI
  xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:s="http://purl.oclc.org/dsdl/schematron">

  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD Freud historisch kritische Edition</title>
        <author xml:id="DST" role="main">Daniel Stoxreiter</author>
      </titleStmt>
      <publicationStmt>
        <publisher>
          <name>Austrian Centre for Digital Humanities and Cultural Heritage,
            Österreichische Akademie der Wissenschaften</name>
          <ref target="https://acdh.oeaw.ac.at">https://acdh.oeaw.ac.at</ref>
        </publisher>
        <pubPlace>Wien, Österreich</pubPlace>
        <date>2022</date>
        <availability>
          <licence target="https://creativecommons.org/licenses/by/4.0">
            Creative Commons Namensnennung 4.0 International Lizenz
          </licence>
        </availability>
        <ref type="URL"
          target="https://github.com/freud-digital/frd-working-data/framework/frd-hka/schema/odd_frd-hka.odd"
          >https://github.com/freud-digital/frd-working-data/framework/frd-hka/schema/odd_frd-hka.odd</ref>
      </publicationStmt>
      <sourceDesc>
        <p>Born digital.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>

<!-- Text der ODD -->

  <text>
    <front>
      <titlePage>
        <docTitle>
          <titlePart type="main">ODD Frd-Hka</titlePart>
        </docTitle>
        <docAuthor>Daniel Stoxreiter</docAuthor>
      </titlePage>
    </front>
    <body>
            
<!-- SCHEMA -->
      
      <div>
        
        <head>TEI-Modifikation</head>
        
        <schemaSpec ident="frd-hka" start="TEI" xml:lang="de">
          <moduleRef key="header" include="listPrefixDef prefixDef creation langUsage language teiHeader fileDesc titleStmt editionStmt extent publicationStmt sourceDesc profileDesc encodingDesc tagsDecl rendition revisionDesc change notesStmt edition funder principal availability licence idno"/>
          <moduleRef key="core" include="ptr imprint biblScope head desc l label lg list author editor title p respStmt resp noteGrp note relatedItem biblStruct listBibl bibl analytic monogr series date pubPlace publisher ref address street postCode name emph foreign hi lb pb q quote rs sic term unclear del abbr add choice cit corr index"/>
          <moduleRef key="corpus"/>
          <moduleRef key="msdescription" include="msDesc msContents msItem msIdentifier repository physDesc objectDesc supportDesc support material handDesc typeDesc"/>
          <moduleRef key="namesdates" include="country settlement listEvent event listOrg org listPerson person listPlace place listObject object forename geo location objectName orgName persName placeName region roleName surname state geogName affiliation"/>
          <moduleRef key="tei"/>
          <moduleRef key="textstructure" include="TEI text body div"/>
          <moduleRef key="textcrit" include="listWit app lem rdg wit witness"/>
          <moduleRef key="transcr" include="fw"/>
          <moduleRef key="linking" include="ab"/>
        
          <!-- element availability -->
          <elementSpec ident="availability" module="header" mode="change"/>
          
          <!-- element fileDesc -->
          <elementSpec ident="fileDesc" module="header" mode="change"/>
  
          <!-- element licence -->
          <elementSpec ident="licence" module="header" mode="change">
            <attList>
              <attDef ident="target" mode="change" usage="req">
                <valList mode="replace" type="closed">
                  <valItem ident="https://creativecommons.org/licenses/by/4.0"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element change -->
          <elementSpec ident="change" module="header" mode="change">
            <attList>
              <attDef ident="who" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="#chuber"/>
                  <valItem ident="#kkaufmann"/>
                  <valItem ident="#dstoxreiter"/>
                  <valItem ident="#pandorfer"/>
                </valList>
              </attDef>
              <attDef ident="when" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.temporal.w3c"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element hi -->
          <elementSpec ident="hi" module="core" mode="change">
            <attList>
              <attDef ident="rendition" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="#underline"/>
                  <valItem ident="#spaced"/>
                  <valItem ident="#smallcaps"/>
                  <valItem ident="#bold"/>
                  <valItem ident="#em"/>
                  <valItem ident="#footnote-index"/>
                  <valItem ident="#sub"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element lb -->
          <elementSpec ident="lb" module="core" mode="change">
            <attList>
              <attDef ident="break" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="no">
                    <desc>Umbruch im Wort</desc>
                  </valItem>
                  <valItem ident="paragraph">
                    <desc>Paragraph Zusammenführung</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element note -->
          <elementSpec ident="note" module="core" mode="change">
            <attList>
              <attDef ident="resp" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="#chuber"/>
                  <valItem ident="#kkaufmann"/>
                </valList>
              </attDef>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="e"/>
                  <valItem ident="footnote"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>       
          
          <!-- element p -->
          <!--<elementSpec ident="p" module="core" mode="change">
            <attList>
              <attDef ident="rendition" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="h1">
                    <desc>Umbruch im Wort</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>-->
          
          <!-- element pb -->
          <elementSpec ident="pb" module="core" mode="change">
            <attList>
              <attDef ident="xml:id" mode="change" usage="opt">
                <datatype>
                  <dataRef key="ID"/>
                </datatype>
              </attDef>
              <attDef ident="n" mode="change" usage="opt">
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element ref -->
          <elementSpec ident="ref" module="core" mode="change">
            <attList>
              <attDef ident="target" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element div -->
          <elementSpec ident="div" module="textstructure" mode="change">
            <attList>
              <attDef ident="xmlns" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="http://www.tei-c.org/ns/1.0"/>
                </valList>
              </attDef>
              <attDef ident="xml:id" mode="change" usage="opt"/>
              <attDef ident="type" mode="change" usage="opt"/>
              <attDef ident="n" mode="change" usage="opt"/>
            </attList>
          </elementSpec>
          
          <!-- element fw -->
          <elementSpec ident="fw" module="transcr" mode="change">
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="pageNum"/>
                </valList>
              </attDef>
              <attDef ident="xml:id" mode="change" usage="opt">
                <datatype>
                  <dataRef key="ID"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element rs -->
          <elementSpec ident="rs" module="core" mode="change">
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="person"/>
                  <valItem ident="place"/>
                  <valItem ident="bibl"/>
                  <valItem ident="keyword"/>
                  <valItem ident="dream"/>
                  <valItem ident="institution"/>
                  <valItem ident="profession"/>
                </valList>
              </attDef>
              <attDef ident="ref" mode="change" usage="req">
                <datatype>
                  <dataRef key="ID"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
        </schemaSpec>
      </div>
        
    </body>
      
  </text>
    
</TEI>
